<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LOF Available</title>
    <link rel="stylesheet" href="/static/dataTables.dataTables.min.css">
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/dataTables.min.js"></script>
</head>

<body>
    <div class="container">
        <table id="availableTable" class="display" style="width:100%"></table>
    </div>

    <script>
        const dataSet = {{ available_json | safe }};
        new DataTable('#availableTable', {
            paging: false,
            order: [[2, 'desc'], [10, 'desc'],],
            columns: [
                {
                    title: 'code',
                    // The first column, index 0
                    data: 0, // Refers to the first element in each sublist
                    render: function (data, type, row, meta) {
                        // Create a clickable link that opens in a new tab
                        return `<a href="/lof/realtime/${encodeURIComponent(data)}" target="_blank">${data}</a>`;
                    }
                },
                { title: 'name' },
                { title: 'entry_dt' },
                { title: 'exit_dt' },
                { title: 'mer' },
                { title: 'cer' },
                { title: 'portfolio_profit' },
                { title: 'max_drawdown' },
                { title: 'sharpe_annual.' },
                { title: 'sharpe_volatility' },
                { title: 'sharpe_ratio' },
                { title: 'sortino_annual.' },
                { title: 'sortino_volatility' },
                { title: 'sortino_ratio' },
            ],
            data: dataSet
        });
    </script>
</body>

</html>