<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H {{code}}</title>
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/static/echarts.min.js"></script>
</head>

<style>
    table {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<body>
    <table>
        <thead>
            <tr>
                <th>portfolio_profit</th>
                <th>max_drawdown</th>
                <th>sharpe_annual</th>
                <th>sharpe_volatility</th>
                <th>sharpe_ratio</th>
                <th>sortino_annual</th>
                <th>sortino_volatility</th>
                <th>sortino_ratio</th>
                <th>avg_hold_days</th>
                <th>mer/yr</th>
                <th>cer/yr</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{portfolio_profit}}</td>
                <td>{{max_drawdown}}</td>
                <td>{{sharpe_annual}}</td>
                <td>{{sharpe_volatility}}</td>
                <td style="color:blue">{{sharpe_ratio}}</td>
                <td>{{sortino_annual}}</td>
                <td>{{sortino_volatility}}</td>
                <td style="color:blue">{{sortino_ratio}}</td>
                <td>{{avg_hold_days}}</td>
                <td>{{mer}}</td>
                <td>{{cer}}</td>
            </tr>
        </tbody>
    </table>
    <div style="height: 750px;">{{ candles|safe }}</div>
</body>

</html>